# Copyright (C) 2024 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# egis
/dev/esfp0                0660   system     system
/sys/bus/platform/devices/egis_input navigation_enable 0660  system  system
/sys/bus/platform/devices/egis_input navigation_event  0660  system  system

# nfc
/dev/cxd224x-i2c          0660    nfc         nfc
/dev/cxd22xx-i2c          0660    nfc         nfc
